<div class="calendar-row" *ngIf="room">
<div class="calendar-row" *ngIf="room">
  <div class="room-detail name">
    {{room.id}}
  </div>
  <div class="room-detail capacity">
    {{room.capacity ? room.capacity : '-'}}
  </div>
  <div class="schedule hours">
    <ul class="calendar-list" *ngIf="!isLoadingBookings; else loading">
      <div *ngFor="let hour of hours">
        <calendar-item
          [booking]="getBookingForHour(date, hour | timestamp)"
          [hour]="hour"
          (selected)="reserveSelection($event)"></calendar-item>
      </div>
    </ul>
    <ng-template #loading>
      <span class="loading">Loading...</span>
    </ng-template>
  </div>
<div>
