<div class="search-form">
  <div class="form-item">
    <label>
      Date
      <div>
        <date-picker
          [(ngModel)]="date"
          [showClearButton]="false"
          (ngModelChange)="onDateChanged($event)"></date-picker>
      </div>
    </label>
  </div>
  <div class="form-item">
    <label>
      Filter by capacity?
      <div>
        <input type="checkbox" [(ngModel)]="filterByCapacity" (ngModelChange)="onCapacityChecked($event)"/>
      </div>
    </label>
  </div>
  <div class="form-item" [hidden]="!filterByCapacity">
	  Capacity:
    <div class="input-range">
      <nouislider
        [config]="sliderConfig"
        [connect]="true"
        [min]="sliderMin"
        [max]="sliderMax"
        [step]="1"
        [tooltips]="true"
        [(ngModel)]="capacityRange"
        [disabled]="!filterByCapacity"
        (ngModelChange)="onCapacityRangeChanged($event)"></nouislider>
    </div>
  </div>
  <div class="form-item">
    <label>
      Building(s)
      <div>
        <ng-selectize
          [config]="buildingsConfig"
          placeholder="Select one or more buildings"
          [options]="buildings"
          [(ngModel)]="selectedBuildings"
          (ngModelChange)="onBuildingsValueChanged($event)"></ng-selectize>
      </div>
    </label>
  </div>
  <div class="form-item">
    <label>
      Room(s)
      <div>
        <ng-selectize
          [config]="roomsConfig"
          placeholder="Select rooms, or leave blank to choose all"
          [enabled]="selectedBuildings.length"
          [options]="filteredRooms"
          [(ngModel)]="selectedRooms"
          (ngModelChange)="onRoomsValueChanged($event)"></ng-selectize>
      </div>
    </label>
  </div>
</div>
<div>
  <a routerLink="/search" [queryParams]="queryParams">Search</a>
</div>
<div *ngIf="hasActiveQuery">
  <calendar></calendar>
</div>