<div class="search-form">
  <div class="form-item">
    <label for="datepicker">
	<div class="label">
	Date
	</div>
	<div class="labeled">
        <date-picker name="datepicker"
          [(ngModel)]="date"
          [showClearButton]="false"
          (ngModelChange)="onDateChanged($event)"></date-picker>
 	</div>
    </label>
  </div>
  <div class="form-item">
    <label>
	<div class="label">
      Filter by capacity?
	</div>
      <div class="labeled">
        <input type="checkbox" [(ngModel)]="filterByCapacity" (ngModelChange)="onCapacityChecked($event)"/>
      </div>
    </label>
  </div>
  <div class="form-item" [hidden]="!filterByCapacity">
	  Capacity:
    <div class="input-range">
      <nouislider
        [config]="sliderConfig"
        [connect]="true"
        [min]="sliderMin"
        [max]="sliderMax"
        [step]="1"
        [tooltips]="true"
        [(ngModel)]="capacityRange"
        [disabled]="!filterByCapacity"
        (ngModelChange)="onCapacityRangeChanged($event)"></nouislider>
    </div>
  </div>
  <div class="form-item">
    <label>
	    <div class="label">
      Building(s)
      </div>
      <div class="labeled">
        <ng-selectize
          [config]="buildingsConfig"
          placeholder="Select one or more buildings"
          [options]="buildings"
          [(ngModel)]="selectedBuildings"
          (ngModelChange)="onBuildingsValueChanged($event)"></ng-selectize>
      </div>
    </label>
    {{selectedBuildings}}
  </div>
  <div class="form-item">
    <label>
	 <div class="label">
      Room(s)
	 </div>
      <div class="labeled">
        <ng-selectize
          [config]="roomsConfig"
          placeholder="Select rooms, or leave blank to choose all"
          [enabled]="selectedBuildings.length"
          [options]="filteredRooms"
          [(ngModel)]="selectedRooms"
          (ngModelChange)="onRoomsValueChanged($event)"></ng-selectize>
      </div>
    </label>
  </div>
  <div>
    <a routerLink="/search" [queryParams]="queryParams" class="navbutton searchbutton">Search</a>
  </div>
</div>
<div *ngIf="hasActiveQuery">
  <calendar></calendar>
</div>