.filter-notes {
	margin-bottom: 20px;
	margin-left: 15px;
}

.filter-notes .filter-header,
.filter-notes .filter-option .title {
  font-weight: bold;
}

.calendar-header {
  font-weight: bold;
  margin-bottom: 2px;
}

.name {
  background-color: #ddd;
  width: 100px;
  min-width: 100px;
  text-align: center;
}

.capacity {
  background-color: #eee;
  width: 80px;
  min-width: 80px;
  text-align: center;
}

.hour,
.booking {
  list-style-type: none;
  /* float: left; */
  width: 90px;
  text-align: center;
}

.booking {
	padding: 2px;
	height: 100%;
	text-align: center;
	background-color: #89d47e;
	display: flex;
}

.booking button {
	border: none;
	cursor: pointer;
	text-decoration: none;
	color: blue;
	margin-left: auto;
	margin-right: auto;
	background-color: inherit;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.calendar-list {
	display: flex;
	align-items: stretch;
	margin: 0px;
	padding: 0px;
}

.calendar-list > * {
	margin: 2px;
}

.conflict {
  background-color: #e3bb81;
}

.clear {
  clear: both;
}

.calendar-row, .calendar-header {
	display: flex;
	flex-direction: row;
}
.hours {
	flex-grow: 1;
}
