<div class="filter-notes">
  <div class="filter-header">Search results for:</div>
  <div class="filter-option">
    <span class="title">Buildings:</span>
    <span class="value">{{filterOptions.buildings}}</span>
  </div>
  <div class="filter-option">
    <span class="title">Rooms:</span>
    <span class="value">{{filterOptions.rooms}}</span>
  </div>
  <div class="filter-option">
    <span class="title">Capacity:</span>
    <span class="value">{{filterOptions.minCapacity}} - {{filterOptions.maxCapacity}}</span>
  </div>
  <div class="filter-option">
    <span class="title">Date:</span>
    <span class="value">{{filterOptions.date}}</span>
  </div>
</div>

<div class="calendar">
  <div class="calendar-header calendar-row">
    <div class="name">
      Room Name
    </div>
    <div class="capacity">
      Capacity
    </div>
    <div class="hours">
      <ul class="calendar-list">
        <li class="hour" *ngFor="let hour of hours">
          {{hour | timestamp}}
        </li>
      </ul>
    </div>
  </div>
  <div *ngFor="let room of rooms">
    <calendar-row
      [room]="room"
      [date]="date"
      [hours]="hours"
      (reservationSelected)="selectReservation($event)"></calendar-row>
  </div>
</div>